* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    scroll-behavior: smooth;
}
html {
    margin: 0; 
    padding: 0; 
}
body {
    margin: 0; 
    padding: 0; 
}
.main {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}
#main-left{
    width:40%;
    height:100%;
    background-color: #2F5597;
    

    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    transition: width .6s;
    
}
#main-right{
    width:60%;
    height:100%;
    background-color: #E7E6E6;
    

    display:inline-block;
    overflow:hidden;
    transition: width .6s;

}
.type-button {
    width:60%;
    height:6vw;
    cursor: pointer;
    border: none;
    margin-top:1vw;
    margin-bottom:1vw;
    background-color:white;
    color: #223D6D;
    border-radius: 2vw;
}
.type-button:hover{
    background-color:#223D6D;
    color: white;
    transition:.6s ease;
}
.type4-button {
    width:60%;
    height:6vw;
    cursor: pointer;
    border: none;
    margin-top:1vw;
    margin-bottom:1vw;
    background-color:white;
    color: #223D6D;
    border-radius: 2vw;
}
.type4-button-background{
    background-color:#223D6D;
    color: white;
}
.type4-child:hover {
    background-color:lightblue;
    color: #223D6D
}
.displaynone {
    display: none;
    transition: 1s ease;
    
}
.type_toggle{
    background-color: lightblue;
    color:#223D6D;
    transition: 1s ease;
}
#welcome-block {
    width:100%;
    height:100%;

    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    transition: 1s ease;
    

}
#body-num-block {
    width:100%;
    height:100%;

    display:none;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    transition: 1s ease;

}
#body-block{
    position: relative;
    width:60%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

    background-color: pink;
    position: relative;
    

}
#num-block{
    width:40%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

}

#type-button-block{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    transition: 1s ease;

}


#back-button {
    width:30%;
    height:6vw;
    cursor: pointer;
    border: none;
    margin-top:1vw;
    margin-bottom:1vw;
    background-color:white;
    color: black;
    border-radius: 2vw;
}

#menu-block{
    width:100%;
    height:100%;
    display:flex;
    transition: 1s ease;

}
#cons-sym-block{
    width:100%;
    height:100%;

    display:none;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    transition: 1s ease;
}
#cons-sym {
    width:100%;
    height:85%;
    display:flex;
    flex-direction: column;
    
    align-items: center;
}
#back-block{
    width:100%;
    height:15%;
    background-color: #D0CECE;;

    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    transition: 1s ease;
    

}

#cons-block {
    width:100%;
    height:25%;
    background-color: #D0CECE;

    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
#sym-block {
    width:100%;
    height:60%;
    background-color: #D0CECE;

    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
#big-title-block{
    width:100%;
    height:15%;
    background-color: #2F5597;;

    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

}
#big-title {
    font-size: 3vw;
    color:white;
}
.title-block{
    font-size: 2.5vw;
    padding:1vw 1vw .5vw 1vw;

    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

}
.subtitle {
    font-size: 2.5vw;
    
}
.word-block{
    padding:1vw;
    width:80%;
    height:100%;
    border-radius: 2vw;
    background-color:white;

    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}


.number-block{
    width:80%;
    height:14%;
    background-color:#D0CECE;
    border-radius: 1vw;
    margin:2vw;

    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
}

#conscious {
    font-size: 2vw;
}
#symtom {
    font-size: 2vw;
}
.number-des{
    font-size: 2vw;
}
#whole-pic:hover {
    
}

#heart-pic:hover {
    filter: drop-shadow(1vw 1vw 1vw rgba(0, 0, 0, 0.5))
}

#lung-pic:hover {
    filter: drop-shadow(1vw 1vw 1vw rgba(0, 0, 0, 0.7))
}
